<!DOCTYPE html>
<html>
    <head>
        <title>Compare Trajectories</title>
        <style>
            .video-box {
                display: inline-block;
                width: 49%;
                text-align: center;
            }
            .video {
                margin-bottom: 20px;
            }
        </style>
        <script>
         function playAllVideos() {
             videos = document.querySelectorAll('video');
             videos[0].play();
             videos[1].play();
         }
        </script>
    </head>
    <body>
        <div style="width:100%; text-align: center;">
            <h1>Experiment: {{exp_name}}</h1>
            <button onclick="playAllVideos()">Play Both</button>
        </div>
        <div style="width:100%;">
            <div class="video-box">
                <video controls class="video">
                    <source src="vids/{{exp_name}}/{{pathA}}" type="video/mp4" />
                </video>
                <form action="/submit" method="post">
                    <input type="hidden" name="label" value="A">
                    <input type="hidden" name="cid" value="{{cid}}">
                    <input type="submit" value="Left better">
                </form>
            </div>
            <div class="video-box">
                <video controls class="video">
                    <source src="vids/{{exp_name}}/{{pathB}}" type="video/mp4" />
                </video>
                <form action="/submit" method="post">
                    <input type="hidden" name="label" value="B">
                    <input type="hidden" name="cid" value="{{cid}}">
                    <input type="submit" value="Right better">
                </form>
            </div>
        </div>

        <div style="width: 100%; text-align: center;">
            <form action="/submit" method="post">
                <input type="hidden" name="label" value="Neither">
                <input type="hidden" name="cid" value="{{cid}}">
                <input type="submit" value="Can't Decide">
            </form>
        </div>
        <br>
        <hr>
        Debug info:<br>
        <p>There are <strong>{{num_unlabeled}}</strong> unlabeled comparisons in the queue right now.</p>
        <p>Comparison object id: {{cid}}</p>
        <p>Video paths: {{pathA}}, {{pathB}}</p>
    </body>
</html>
