<html>
  <head>
    <title>Experiment</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    {% if num_to_label %}
    <h2>There are {{ num_to_label }} remaining unlabeled comparisons.</h2>
    <div>
      <h3>Play trajectory</h3>
      <button class="playButton" onclick="playTraj()">Play trajectories</button>
      <br>
      <h3>Choose a trajectory</h3>
      <form action="/submit" method="post">
	<input type="radio" name="traj_choice" value="A"> Trajectory A<br>
	<input type="radio" name="traj_choice" value="B"> Trajectory B<br>
	<input type="radio" name="traj_choice" value="neither"> Can't decide/neither<br>
	<input type="radio" name="traj_choice" value="skip"> Skip batch<br>
	<input type="submit" value="Submit">
      </form>
    </div>
    {% else %}
    <h2>No unlabeled comparisons remaining</h2>
    <form action="/train" method="post">
      Train on current data ({{ num_train_pts }})
      <input type="submit" value="Train">
    </form>
    <form action="/generate" method="post">
      Generate more trajectories:<br>
      <input type="radio" name="generate_option" value="no_planning"> Without planning<br>
      <input type="radio" name="generate_option" value="planning"> With planning<br>
      <input type="submit" value="Generate">
    </form>
    <button onclick="testModel()">Test current model</button>
    {% endif %}
    <hr>
    <p>Parameters:</p>
    <ul>
      <li>Recurrent: {{ opt_recurrent }}</li>
      <li>Normalized features: {{ opt_recurrent }}</li>
      <li>Using total duration: {{ opt_total_duration }}</li>
    </ul>
    <form action="/save" method="post">
      Save model with name:
      <input type="text" name="save_name">
      <input type="submit" value="Save">
    </form>
    <form action="/load" method="post">
      Load model with name:
      <input type="text" name="load_name">
      <input type="submit" value="Load">
    </form>
    <form action="/save_tq" method="post">
      Save training queue with name:
      <input type="text" name="save_name">
      <input type="submit" value="Save">
    </form>
  </body>
</html>
