<html>
  <head>
    <title>Experiment</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    {% if session_vars['session_name'] is none %}
    <form action="/name_session" method="post">
      Before you begin, name a new session or load an existing one:<br>
      <input type="text" name="session_name"><br>
      <input type="radio" name="make_or_load" value="make"> New Session<br>
      <input type="radio" name="make_or_load" value="load"> Load Existing<br>
      <input type="submit" value="Start">
    </form>
    {% else %}
    <h1>Session: {{ session_vars['session_name'] }}</h1>
    <p>
      Human has completed labeling {{ session_vars['human_batch_num'] }} batches.
      The model has been trained {{ session_vars['cost_train_num'] }} times.
    </p>
    <hr>
    {% if num_to_label %}
    <h2>There are {{ num_to_label }} remaining unlabeled comparisons.</h2>
    <div>
      <h3>Play trajectory</h3>
      <button class="playButton" onclick="playTraj()">Play trajectories</button>
      <br>
      <h3>Choose a trajectory</h3>
      <form action="/submit" method="post">
	<input type="radio" name="traj_choice" value="A"> Trajectory A<br>
	<input type="radio" name="traj_choice" value="B"> Trajectory B<br>
	<input type="radio" name="traj_choice" value="neither"> Can't decide<br>
	<input type="radio" name="traj_choice" value="skip"> Skip remainder of batch<br>
	<input type="submit" value="Submit">
      </form>
    </div>
    {% else %}
    <h2>No unlabeled comparisons remaining</h2>
    <form action="/train" method="post">
      Train on current data ({{ num_train_pts }}) for this many epochs
      <input type="text" name="num_epochs" value="10">
      <input type="submit" value="Train">
    </form>
    <form action="/generate" method="post">
      Generate more trajectories:<br>
      <input type="radio" name="generate_option" value="no_planning"> Without planning<br>
      <input type="radio" name="generate_option" value="planning"> With planning<br>
      <input type="submit" value="Generate">
    </form>
    <form action="/test_model" method="post">
      Test pair number (0-3)<br>
      <input type="text" name="test_num" value="0">
      <input type="submit" value="Test">
    </form>
    <form action="/set_params" method="post">
      Change joint velocity regularization:<br>
      <input type="text" name="joint_vel" value="{{ session_vars['joint_vel_coeff'] }}">
      <input type="text" name="speed" value="{{ session_vars['speed'] }}">
      <input type="submit" value="Set">
    </form>
    {% endif %}
    <hr>
    <form action="/load" method="post">
      Load pretrained model with name:
      <input type="text" name="load_name">
      <input type="submit" value="Load">
    </form>
    <form action="/save_session" method="post">
      Save Session
      <input type="submit" value="Save">
    </form>
    {% endif %}
  </body>
</html>
